.navbar {
    display: flex;
    /*position: sticky; */
    align-items: center;
    justify-content: center;
    top: 0x;
    position: relative;
}

.nav-list {
    padding-top: 1%;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    display:contents;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}

.link{
    list-style: none;
    padding: 10px 30px;
    text-decoration: none;
    color: white;
}

.link:hover{
    color: black;
}

.background {
    background: rgb(70, 195, 218) url("/img/branco.png");
    background-blend-mode: darken;
    background-size: cover;
    width: auto;
}