::-webkit-scrollbar {
    display: none;
}

body {
    background: rgb(89, 63, 251);
    background: linear-gradient(90deg, rgba(89, 63, 251, 1) 0%, rgba(70, 200, 252, 1) 100%);
}

h1 {
    font-family: 'Courier New', Courier, monospace;
}

#card {
    background-color: darkslateblue;

}

#musica {
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
}

h1 {
    text-align: center;
    padding-bottom: 2%;
    padding-top: 2%;
}

.card-body {
    text-align: center;

}

.img {
    text-align: center;
}
  


